/* Fonts */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
      url("../fonts/roboto.woff2") format("woff2"),
      url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"),
      url("../fonts/robotobold.woff2") format("woff2"),
      url("../fonts/robotobold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
      url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
}

/* Variables */
:root {
--basic-color: #000000;
--background-color: #eeeeee;
--add-text-color: #283136;
--basic-white: #ffffff;
--main-background-color: #888888;
--basic-red: #FB565A;
--basic-green: #00CA74;
--basic-yellow: #EFC849;
--map-text-color: #666666;
--footer-promo-text: #444444;
}

body {
margin: 0;
padding: 0;
font-family: "Roboto", "Arial", sans-serif; /* сначала прописала Robotomedium, Robotobold, потом удалила, прочитав Б10 */
color: var(--basic-color);
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  color: var(--basic-color);
  background-color: var(--background-color);
}

a { /* совсем удалить или всё же можно оставить эти стили? */
text-decoration: none;
text-transform: uppercase;
color: var(--basic-white);
}

p {
  color: var(--basic-color);
}

.nav {
  color: var(--basic-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.text {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.know {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-red);
}

.description {
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: var(--add-text-color);
}

.services {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.red {
background-color: var(--basic-red);
font-weight: 500;
font-size: 16px;
line-height: 18px;
}

.green {
background-color: var(--basic-green);
font-weight: 500;
font-size: 16px;
line-height: 18px;
}

.yellow {
background-color: var(--basic-yellow);
font-weight: 500;
font-size: 16px;
line-height: 18px;
}

.slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

/* искренне не понимаю, почему в браузере текст, блин, не жирный */
.do {
  color: var(--basic-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.numbers {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

sup { /* не стала делать классом, т.к. больше не встречается, то же самое с b, h2 */
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.clarification {
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: var(--add-text-color);
}

h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-color);
}

.window {
  color: var(--map-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

/* я забыла, мы, кажется, обсуждали, что с ними что-то нужно будет сделать */
.icon {
  background-color: #E1E1E1;
}

b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--footer-promo-text);
}

