/* Fonts */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
      url("../fonts/roboto.woff2") format("woff2"),
      url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"),
      url("../fonts/robotobold.woff2") format("woff2"),
      url("../fonts/robotobold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
      url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
}

/* Variables */
:root {
--basic-color: #000000;
--background-color: #eeeeee;
--add-text-color: #283136;
--basic-white: #ffffff;
--main-background-color: #888888;
--basic-red: #FB565A;
--basic-green: #00CA74;
--basic-yellow: #EFC849;
--map-text-color: #666666;
--footer-promo-text: #444444;
}

body {
margin: 0;
padding: 0;
font-family: "Roboto";
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: var(--basic-color);
}

.main-header {
  color: var(--basic-color);
  background-color: var(--background-color);
}

li {
  font-weight: 500;
  color: var(--basic-color);
  font-size: 16px;
  line-height: 30px;
}

a {
text-decoration: none;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
color: var(--basic-white);
background-color: gray; /* чтобы видно было */
}

img {
  max-width: 100%;
  height: auto;
}

.text {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

p {
  color: var(--add-text-color);
  font-weight: 400;
}

.web,
.app,
.pres {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.do {
  color: var(--basic-color);
  font-weight: 700;
}

.numbers {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.subtext {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  coLor: var(--add-text-color);
}

h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.window {
  color: var(--map-text-color);
  font-size: 16px;
  line-height: 18px;
}

.footer-text {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-text_ {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--footer-promo-text);
}
